@use '../../base.scss' as _base;

.view {
    @include _base.panelListItem();
    padding-top: 4rem;
    padding-bottom: 2rem;

    display: flex;
    flex-direction: column;
}

.infoRow {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.constraintName {
    flex: 1;    
    margin: 0 4rem;
    text-align: left;
}

.operator {
    text-align: center;
}

.valueDescription {
    flex: 1;
    text-align: right;
    margin: 0 4rem;
}

.caretSection {    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
    border-top: 1rem solid rgba(255, 255, 255, 0.3);
    > div {
        mask-image: url("coui://gameui/Media/Glyphs/StrokeArrowDown.svg");
        width: 0.5em;
        height: 0.5em;
        background-color: #fff;
        mask-size: contain;
        mask-position: center;
    }

    &.open > div  {
        transform: rotate(180deg);
    }
}