.view {
    position: absolute;
    width: 330rem;
    top: 100rem;
    bottom: 180rem;
    left: 10rem;    

    display: flex;
    flex-direction: column;    

    background-color: var(--panelColorNormal);
    backdrop-filter: var(--panelBlur);
    border-bottom-left-radius: var(--panelRadius);
    border-bottom-right-radius: var(--panelRadius);
    border-top-left-radius: var(--panelRadius);
    border-top-right-radius: var(--panelRadius);

    pointer-events: auto;
    
    animation: entry 0.2s;
    color: var(--textColorDim)
}

.sideButtons {
    position: absolute;
    left: 345rem;
    top: 100rem;

    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: left;    

    .sideButton {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;        
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5rem;
        padding: 4rem;      
        backdrop-filter: blur(8px);
        img {
            height: 30rem;
            width: 30rem;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.4);
        }
    }
}

@keyframes entry {
0% {
    left: -10rem;
    opacity: 0;
}
100% {
    opacity: 1;
}
}