@use '../base.scss' as _base;

.view > div {
    display: flex;
    flex-direction: column;
    padding: 4rem;
}

.listItem {
    @include _base.panelListItem();
    padding-top: 4rem;
    padding-bottom: 4rem;
}