.view {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 4rem 8rem;
    font-size: var(--fontSizeM);
    font-weight: bold;
    background-color: rgba(148, 250, 206, 0.7);
    backdrop-filter: blur(2px);
    border-radius: 5rem;

    img {
        height: 30rem;
        width: 30rem;
        margin-right: 10rem;
    }
    &[data-status='danger'] {
        background: rgba(250, 148, 148, 0.7);
    }

    &[data-status='warning'] {
        background: rgba(242, 250, 148, 0.7);
    }

}